:root {
  --main-color: #212121;
  --active-color: rgba(255, 0, 0, 0.418);
  --link-color: blue;
  --click-color: darkorchid;
  --main-background-color: #fff;
  --main-border-color: #c7c7c7;
  --second-border-color: #94c0f9;
}
